/**
* @name NotAnotherAnimeTheme
* @author puckzxz#2080
* @version 3.2
* @description An easily customizable and automatically updating theme
* @invite FdZhbjY
* @source https://github.com/puckzxz/NotAnotherAnimeTheme
* @updateUrl https://raw.githubusercontent.com/blacktime22/-themes/main/AnimeThemesUpdate.css
*/

@import url(https://blacktime22.github.io/-themes/build/main.css);

/*
  To make editing this theme easier I recommend using Notepad++
  you can download it for free here https://notepad-plus-plus.org/download/
*/

/* Any images you use MUST end with .jpg or .png or any other image extension */

:root {
  /*
    Theme Background
  */
  --theme-background-image: url(https://lh3.googleusercontent.com/pw/AP1GczMRuziMTVHTTrLpYetwlx3lTtweTLh_bISO54Ry_XewnQeNpzIhzfVQbt0ZAawpuUJ1aQ6GDlqc6T3PSTCI__aWgff3kCoo105N487oYaC_mpbzspsShR_D0NglD_HSM4ov6BgUimXk-UTsHX2d-7gDad-ELD6C1ci-zuYmuvE0Rb6q6lipkMYR9PhcdLGx93Apx774fROg4q2PPp3ouD9QIXoLH7k_tVcfHO9cEy4HeztL3yNllfMWwhRa2zSzKI8L_R9QihM4BYlJKe0pFXTZWVhbCfJR7yKOJA8uzQQ7Uu36FBe3Uumkpv2_kZdicZ6vnzlIkzF0h5MBl8KwBa9lsNw2JZ340mBX389fxvOi5Gd2Mflewq4SWLr8kyHllGnj6M54wxmFwrxQrv9BFuSiHk49SqhyceHZxgyviH3Uq4k-BqLNlpMg9etWDULbLwHOKu9rpKRR5pyh-2-DShkVyJJMBSNDky0sdVtZcQbghnUk03qCPEsJCj8qRkdcblDJMfgI3uT3o2xwAJ7o5p2FA1LxytyMFjbik6Yo6ORN_DoF77IKE-5OQPT1pllxmrbgSptQmAm5Q86B5mBQdWkpKL2hvqRUnUts7ElsSkqLbyygz23Ihx8Vo_-7R6Su3WNMd6eT40ZpwRNMY73JcJe3WiYq37L0Cd2046NxqxnmitgCXmTL19BXX07N9kz4dPKRAwVusp1bk8_7Nx3GXRtJVPPEJ5KQptko7phKOqOZ-WHxaoryQbua576TqZWePVUd-pRhn8R9ANQf4pO3c6AwQj7Zqofb_2MxyUUT6bn5fxmXPTwGmlL8VGYpoQWs4eT3jnR7aguJYxwMf5UJJAnT9_1vgb7qCnCqZy44-9mlkoXHOQIrlw_VqIayD1rSXm028s-v2Cze1SZwhCXx3Qno4UEyLSpq526f7ZbZVsEU7sqGfW_qqPjV4Jj_=w970-h970-s-no-gm?authuser=0);

  /*
    Main Theme Color
  */
  --main-theme-color: rgb(255, 0, 0);

  /*
    Main Theme Transparency
  */
  --theme-transparency: rgba(0, 0, 0, 0.4);

  /*
    Home Icon Image
  */
  --home-icon-image: url(https://lh3.googleusercontent.com/pw/AP1GczPu09uZomLBdlwDL4te_JMVFW18KvHE7a8T1MHGokZkpsPdWwVOWJMO1i-E57brmja_pkF7zvevpeDV9Kd11aTZ1_M7EJo10U8APPXpnQrAqh0NKgz8WOO2kmIKYFrKo1kFP4dHeV52MrVyFtftUbzPo6111TNh-Rp6NSorQhR3Rv_vICl6PV4pcCMhnneK9U3q1TofGQ2YF9Dbvj4DHDbvr8RMMwB_nmK2LdAL6Ne5DZbI7kTCDM2nOc-fX8QWxAFoe8qwQBJOK5jzK0_F6ES8k92jH-F-sNJ0xoFWSMoP3SstaKUNgrphCOx6j80Fd3ESyMofstCEluN-oNjLf7HuqkSx6wLmaAO2qLqNLzk06W4hnJzN-4dMrfu8wqjWPzGxvp8aiy62liLdXTWm3VpwkxekFLNziJ9n38Sm2-aytrrDL5HUrFB_RlnY9GW4SCJ39rI82JEKzP4BLqoAWuEGF_pJoAYSX-FVanrmVk7rFYoAiuGRIBLprTO1I9BKYWxFIeIN2zJktr7XqtOIT9ps243kb4QgpV3eSSYGa6W5N5X8dhR4ocnehd3FyySqLTKSo43IxRb86UAbIJOlBFcu7rPxqzwBNQ-zjZ5eEmaNAgfUeQReUBp8-ZxlNDLTUVv1rCIg4yh3FlGlb9hfp_2fZLuj9PUREstwjnrDHPJDxsd-0YJEmvLhc1-HGUbBKKPQ_e1HYbhPRmWsFVGCtGWxHesK3cV3ER6euETW3tUox3ReaQ_Qe_z9kT6OoL46ybZE7PkbmkBnRnJ2ghzz0y9LIyFSVxDiJw_ijNxUjYEb58lLrLzVWb6D-zJnpxuR923sf-7TfBDeenk5MjNRNKBCOHbFTZ806v2QFt635MNWUZvvbRwYVdzfDsnfvpc8WY9vPQGxznGoOQxMezykGtqpZamygUXTkyX5Q3BlFJxA9QLD8Pj6isoHBn2C=s776-no?authuser=0);

  /*
    Change your friends icon image position
  */
  --home-icon-image-position: center center;

  /*
    Change your friends icon image zoom
  */
  --home-icon-image-zoom: 100%;

  /*
    Server Listing Width
    Single Column:  62px
    Double Column:  126px
    Triple Column:  184px
    Quad Column:    242px
  */
  --server-listing-width: 62px;

  /*
    Font Size
  */
  --font-size: 100%;

  /*
    Mention colors
  */
  --mention-color: rgba(250, 166, 26, 0.05);
  --mention-sider: rgba(250, 166, 26, 1);
  --mention-hover-color: rgba(250, 166, 26, 0.08);

  /*
    Server category hover color
  */
  --category-hover-color: rgb(255, 255, 255);

  /*
    Change the unread server animation.
    Replace it with "none" in order to remove any animations and use the main color instead
  */
  --unread-server-animation: rainbow;

  /*
    Video / Screen share buttons
  */
  --video-screen-button-background-color: rgba(200, 200, 200, 0.2);
  --video-screen-button-foreground-color: white;
  --video-screen-button-background-hovor-color: rgba(200, 200, 200, 0.4);
  --video-screen-button-foreground-hovor-color: white;

  /*
    Role Title Color
  */
  --member-listing-role-color: var(--main-theme-color);

  /*
    Small User Popout
  */
  --small-user-popout-background-image: var(--theme-background-image);
  --small-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
  --small-user-popout-background-image-position: center;

  /*
    Big User Popout
  */
  --big-user-popout-background-image: var(--theme-background-image);
  --big-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
  --big-user-popout-background-image-position: center;

  /*
    Code Markup
  */
  --code-markup-background-color: rgba(0, 0, 0, 0.6);
  --code-markup-border: 1px solid transparent;

  /*
    Message Box Transparency
  */
  --message-box-transparency: rgba(0, 0, 0, 0.6);

  /*
    Embed Background Transparency
  */
  --embed-background-transparency: rgba(0, 0, 0, 0.6);

  /*
    Message Hover Buttons
  */
  --message-hover-buttons-background: rgba(200, 200, 200, 0.1);

  /*
    Context Menu Transparency
  */
  --context-menu-transparency: rgba(15, 15, 15, 0.8);

  /*
    Add Server / Discovery Icon
  */
  --add-discover-icon-transparency: rgba(200, 200, 200, 0.15);
  --add-discover-icon-color: #43b581;

  /*
    Channel Limit Number Color
  */
  --channel-limit-count-color: var(--channels-default);
  --channel-limit-background-left: rgba(0, 0, 0, 0.7);
  --channel-limit-background-right: rgba(0, 0, 0, 1 );

  /*
    Scrollbar Colors
  */
  --scrollbar-color: rgba(200, 200, 200, 0.2);

  /*
    Unread Message Divider
  */
  --unread-message-divider-color: #f04747;
  --unread-message-divider-font-color: #fff;

  /*
    New Messages Bar Color
  */
  --new-messages-bar-background-color: #7289da;
  --new-messages-bar-font-color: #fff;

  /*
    Emoji Menu
  */
  --emoji-menu-background-color: rgba(0, 0, 0, 0.6);
  --emoji-menu-sider-background-color: rgba(0, 0, 0, 0);
  --emoji-menu-server-header-background-color: rgba(0, 0, 0, 0.8);
  --emoji-menu-bottom-bar-background-color: black;
  --emoji-menu-search-bar-background-color: rgba(200, 200, 200, 0.1);

  /*
    Message Search
  */
  --message-search-menu-background-color: rgba(0, 0, 0, 0.8);
  --message-search-container-background-color: rgba(0, 0, 0, 0.6);
  --message-search-result-background-color: rgba(200, 200, 200, 0.05);

  /*
    Channel colors
  */
  --text-voice-channel-color: rgb(0, 0, 0);
  --text-voice-channel-hover-color: #dcddde;
  --text-voice-channel-selected-text-color: #fff;
  --unread-text-channel-color: #fff;
  --unread-text-channel-bubble-color: var(--main-theme-color);

  /*
    Folders
  */
  --folder-background-color: #2f3136;
  --expanded-folder-background-color: transparent;

  /*
    Reactions
  */
  --reaction-emoji-background-color: rgba(0, 0, 0, 0);
  --reaction-emoji-border-color: 1px solid transparent;
  --reaction-emoji-hover-background-color: rgba(255, 255, 255, 0.1);
  --reaction-emoji-hover-border-color: rgba(255, 255, 255, 0.2);
}
